@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Oxygen', sans-serif;
}

body{
    background-color: #cae9ff;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dark-mode{
    background-color: #252422;
    color: #eff7f6;
}

.dark-mode::placeholder{
    color: #eff7f6;
}

.wrapper{
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
    min-height: 100vh;
}

.notes-list{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.note{
    /* background-color: #f2bb05; */
    background-color: #7D95FF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    padding: 10px;
    min-height: 170px;
    white-space: pre-wrap;
}

.add{
    /* background-color: #9d4edd; */
    background-color: #c77dff;
}

.title{
    border: none;
    background-color: #c77dff;
    height: 30px;
    font-size: 20px;
}

.title:focus{
    outline: none;
}

textarea{
    border: none;
    resize: none;
    background-color: #c77dff;
}

textarea:focus{
    outline: none;
}

.note-footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.add-icon{
    cursor: pointer;
}

.delete-icon{
    cursor: pointer;
}

.search{
    display: flex;
    align-items: center;
    background-color: #dad7cd;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 10px;
}

.search input{
    border: none;
    background-color: #dad7cd;
    width: 100%;
}

.search input:focus{
    outline: none;
}

::placeholder{
    color: #252422;
}

.theme-button{
    cursor: pointer;
    padding: 5px;
    border: none;
    border-radius: 10px;
}